@model FirstWebApplication.UserRegistration

@{
    ViewBag.Title = "Create";
}

<div style="color: #f1f1f1;height:100vh ">
    <h2 style="text-align: center;">User Created successfully</h2>
    <h1 style="font-size:60px;text-align: center; padding-top: 45px;">Heyyy <span style="color:#ff0000"> @Model.UserName </span>Welcome to the The Imperial Spice</h1>
</div>

