@{
    ViewBag.Title = "Home Page";
}

<div style="color: #ffffff; height: 100%">
    <h1 style="font-size:60px;text-align: center; padding-top: 45px;">Welcome to The Imperial Spice</h1>
    <img src="~/Image/TIS.png" class="img-rounded" style="display: block; margin: auto; transform: translateY(50%) " alt="The Imperial Spice">
</div>

