@model FirstWebApplication.Models.ForgotPassword

@using (Html.BeginForm("GetForgotPasswordUserName", "User", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-6 col-form-label"></div>
        <div class="col-sm-6" style="display:flex">
            @Html.ValidationMessageFor(s => s.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12" style="display: flex;align-items: center;justify-content: space-evenly;">
            <label>
                User Name
            </label>
            @Html.TextBoxFor(u => u.UserName, new { @class = "", placeholder = "Enter User Name here...", @required = "required" })
        </div>

        <div class="col-sm-12 modal-footer" style="width: 598px; margin-left: 5px; margin-top: 7px; border-top: 1px double #dee2e6;padding-bottom:0px">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" value="register" class="btn btn-primary">Submit</button>
        </div>
    </div>
}
